* {
    color: #f0f0f0;
    background-color: #0f0f0f;
    font-size: xx-large;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}
